@import 'mixins/mixins.scss';
@import 'code.scss';
@import 'colors.scss';
@import 'forms.scss';
@import 'grid.scss';
@import 'images.scss';
@import 'popups.scss';
@import 'sizes.scss';
@import 'sliders.scss';
@import 'tables.scss';
@import 'template.scss';
@import 'text.scss';
@import 'variables.scss';

:root{
  --bl-scale-rate: 0.9;
}

*{
  box-sizing: border-box;
  border-collapse: collapse;
  //outline: 1px solid red;
  &::selection{

  }
}

body{
  margin: 0;
  padding: 0;
  background-color: $body-bg;
  width: 100%;
  overflow-x: hidden;
}
