$white:  #fff !default;
$black:  #000 !default;
$red:    #d9534f !default;
$orange: #f0ad4e !default;
$yellow: #ffd500 !default;
$green:  #5cb85c !default;
$blue:   #0275d8 !default;
$teal:   #5bc0de !default;
$pink:   #ff5b77 !default;
$purple: #613d7c !default;

$gray-dark:                 #292b2c !default;
$gray:                      #464a4c !default;
$gray-light:                #636c72 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             $blue !default;
$brand-success:             $green !default;
$brand-info:                $teal !default;
$brand-warning:             $orange !default;
$brand-danger:              $red !default;
$brand-inverse:             $gray-dark !default;

$alpha: 0.5;

$enable-rounded:            true !default;
$enable-shadows:            false !default;
$enable-gradients:          false !default;
$enable-transitions:        true !default;
$enable-hover-media-query:  false !default;
$enable-print-styles:       true !default;

$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;

$border-width: 1px !default;

$body-bg:       $white !default;
$body-color:    $gray-dark !default;
$inverse-bg:    $gray-dark !default;
$inverse-color: $gray-lighter !default;


$font-family-sans-serif: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-family-serif:      Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-lg:   1.25rem !default;
$font-size-sm:   .875rem !default;
$font-size-xs:   .75rem !default;

$font-weight-normal: normal !default;
$font-weight-bold: bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$font-size-h1: 2.5rem !default;
$font-size-h2: 2rem !default;
$font-size-h3: 1.75rem !default;
$font-size-h4: 1.5rem !default;
$font-size-h5: 1.25rem !default;
$font-size-h6: 1rem !default;


$text-muted: $gray-light !default;

$kbd-box-shadow:         inset 0 -.1rem 0 rgba($black,.25) !default;
$nested-kbd-font-weight: $font-weight-bold !default;

$line-height-lg:         (4 / 3) !default;
$line-height-sm:         1.5 !default;

$border-radius:          .25rem !default;
$border-radius-lg:       .3rem !default;
$border-radius-sm:       .2rem !default;

$table-cell-padding:            .75rem !default;
$table-sm-cell-padding:         .3rem !default;

$table-bg:                      transparent !default;

$table-inverse-bg:              $gray-dark !default;
$table-inverse-color:           $body-bg !default;

$table-bg-accent:               rgba($black,.05) !default;
$table-bg-hover:                rgba($black,.075) !default;
$table-bg-active:               $table-bg-hover !default;

$table-head-bg:                 $gray-lighter !default;
$table-head-color:              $gray !default;

$table-border-width:            $border-width !default;
$table-border-color:            $gray-lighter !default;


// Buttons
$button-size-x:                     200px !default;
$button-size-y:                     50px !default;
$button-padding-x:                  1rem !default;
$button-padding-y:                  .5rem !default;
$button-line-height:                1.25 !default;
$button-font-weight:                $font-weight-normal !default;
$button-box-shadow:                 inset 0 1px 0 rgba($white,.15), 0 1px 1px rgba($black,.075) !default;
$button-focus-box-shadow:           0 0 0 2px rgba($brand-primary, .25) !default;
$button-active-box-shadow:          inset 0 3px 5px rgba($black,.125) !default;

$button-primary-color:              $white !default;
$button-primary-bg:                 $brand-primary !default;
$button-primary-border:             $button-primary-bg !default;

$button-default-color:              $gray-dark !default;
$button-default-bg:                 $white !default;
$button-default-border:             #ccc !default;

$button-info-color:                 $white !default;
$button-info-bg:                    $brand-info !default;
$button-info-border:                $button-info-bg !default;

$button-success-color:              $white !default;
$button-success-bg:                 $brand-success !default;
$button-success-border:             $button-success-bg !default;

$button-warning-color:              $white !default;
$button-warning-bg:                 $brand-warning !default;
$button-warning-border:             $button-warning-bg !default;

$button-danger-color:               $white !default;
$button-danger-bg:                  $brand-danger !default;
$button-danger-border:              $button-danger-bg !default;

$button-link-disabled-color:        $gray-light !default;

$button-size-x-sm:                  200px !default;
$button-size-y-sm:                  40px !default;
$button-padding-x-sm:               .5rem !default;
$button-padding-y-sm:               .25rem !default;

$button-size-x-lg:                  300px !default;
$button-size-y-lg:                  50px !default;
$button-padding-x-lg:               1.5rem !default;
$button-padding-y-lg:               .75rem !default;

$button-block-spacing-y:            .5rem !default;
$button-toolbar-margin:             .5rem !default;

$button-border-radius:              $border-radius !default;
$button-border-radius-lg:           $border-radius-lg !default;
$button-border-radius-sm:           $border-radius-sm !default;

$button-transition:                 all .2s ease-in-out !default;


// Window

$window-size-x:                     400px !default;
$window-size-y:                     200px !default;
$window-padding-x:                  1rem !default;
$window-padding-y:                  .5rem !default;

$window-primary-color:              $white !default;
$window-primary-bg:                 $brand-primary !default;
$window-primary-border:             $window-primary-bg !default;

$window-default-color:              $gray-dark !default;
$window-default-bg:                 $white !default;
$window-default-border:             #ccc !default;

$window-info-color:                 $white !default;
$window-info-bg:                    $brand-info !default;
$window-info-border:                $window-info-bg !default;

$window-success-color:              $white !default;
$window-success-bg:                 $brand-success !default;
$window-success-border:             $window-success-bg !default;

$window-warning-color:              $white !default;
$window-warning-bg:                 $brand-warning !default;
$window-warning-border:             $window-warning-bg !default;

$window-danger-color:               $white !default;
$window-danger-bg:                  $brand-danger !default;
$window-danger-border:              $window-danger-bg !default;

$window-size-x-sm:                  300px !default;
$window-size-y-sm:                  150px !default;
$window-padding-x-sm:               .5rem !default;
$window-padding-y-sm:               .25rem !default;

$window-size-x-lg:                  600px !default;
$window-size-y-lg:                  300px !default;
$window-padding-x-lg:               1.5rem !default;
$window-padding-y-lg:               .75rem !default;

// Forms

$input-size-x:                   200px !default;
$input-size-y:                   50px !default;

$input-padding-x:                .75rem !default;
$input-padding-y:                .5rem !default;


// Form states and alerts
// Define colors for form feedback states and, by default, alerts.

$state-success-bg:               #dff0d8 !default;
$state-info-bg:                  #d9edf7 !default;
$state-warning-bg:               #fcf8e3 !default;
$state-danger-bg:                #f2dede !default;


// Code

$code-font-size:              90% !default;
$code-padding-x:              .4rem !default;
$code-padding-y:              .2rem !default;
$code-color:                  #bd4147 !default;
$code-bg:                     $gray-lightest !default;

$kbd-color:                   $white !default;
$kbd-bg:                      $gray-dark !default;

$pre-color:                   $gray-dark !default;
$pre-border-color:            #ccc !default;
$pre-scrollable-max-height:   340px !default;
